{:name "ui-quil"
 :clj-require []
 :theme {:available  {}
         :current {}}
 :cljs-namespace [quil.middleware ; access quil drawing functions
                  quil.core
                  ui.quil.quil ; add pinkie renderer
                  ;'quil.sketch
                  ; 'quil.util
                  ]
 :cljs-bindings {}
 :cljs-ns-bindings {'quil {'canvas ui.quil.quil/quil-canvas
                           'background quil.core/background
                           'fill quil.core/fill
                           'ellipse quil.core/ellipse}}
 :pinkie {}
 :lazy false ; normal fns not lazy suiteable
 :snippets [{:type :goldly-clj
             :category :quil
             :id :quil1
             :filename "snippets/quil/quil1.clj"}]}